.main-cont
	.slogan
		.slogan-text
			.slogan-text__el сайты для решения
			.slogan-text__el ваших задач
			.slogan-text__el.slogan-text__el--small быстро и надежно
			a(href="#").but.but-mid.but-pink  Заказать проект
	img(src="img/rocket.png", alt="").rocket 

.ancor
	.main-cont
		.ancor__wrap
			a(href="#web" rel='m_PageScroll2id').ancor__el
				span  WEB
				span Приложения и
				span сайты
			a(href="#smm" rel='m_PageScroll2id').ancor__el
				span  SMM
				span Социальные
				span сети
			a(href="#seo" rel='m_PageScroll2id').ancor__el
				span  SEO
				span Продвижение
				span в сети
			a(href="#audit" rel='m_PageScroll2id').ancor__el
				span  АУДИТ
				span Консультация
				span и аудит 
.main-cont
	.descr-block#web
		.descr-block__name WEB
		.descr-block__text 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quae magni dolore earum recusandae magnam tempora iusto voluptate, facere, ab, modi eaque perspiciatis iste, labore mollitia perferendis pariatur doloribus nobis est esse laborum consequuntur corporis excepturi veniam! Sapiente non amet impedit tenetur atque perferendis! Temporibus soluta, laboriosam sint minus eius?

	.planet-content__el.planet-content__web.owl-carousel
		- each item in web 
			a(href="#").planet-content__seo-el
				.planet-content__seo-icon
					img(src="img/#{item.img}", alt="")
				.planet-content__seo-title #{item.title}
				.planet-content__seo-info #{item.text}

	.descr-block#smm
		.descr-block__name SMM
		.descr-block__text 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quae magni dolore earum recusandae magnam tempora iusto voluptate, facere, ab, modi eaque perspiciatis iste, labore mollitia perferendis pariatur doloribus nobis est esse laborum consequuntur corporis excepturi veniam! Sapiente non amet impedit tenetur atque perferendis! Temporibus soluta, laboriosam sint minus eius?

	.planet-content__el.planet-content__smm.owl-carousel
		- each item in smm 
			a(href="#").planet-content__smm-el
				.planet-content__smm-icon
					.icon(class='#{item.icon}')
				.planet-content__smm-info #{item.title}
			
	.descr-block#seo
		.descr-block__name SEO
		.descr-block__text 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quae magni dolore earum recusandae magnam tempora iusto voluptate, facere, ab, modi eaque perspiciatis iste, labore mollitia perferendis pariatur doloribus nobis est esse laborum consequuntur corporis excepturi veniam! Sapiente non amet impedit tenetur atque perferendis! Temporibus soluta, laboriosam sint minus eius?

	.planet-content__el.planet-content__seo.owl-carousel
		- each item in seo 
			a(href="#").planet-content__seo-el
				.planet-content__seo-icon
					img(src="img/#{item.img}", alt="")
				.planet-content__seo-title #{item.title}
				.planet-content__seo-info #{item.text}
	
	.descr-block#audit
		.descr-block__name АУДИТ
		.descr-block__text 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quae magni dolore earum recusandae magnam tempora iusto voluptate, facere, ab, modi eaque perspiciatis iste, labore mollitia perferendis pariatur doloribus nobis est esse laborum consequuntur corporis excepturi veniam! Sapiente non amet impedit tenetur atque perferendis! Temporibus soluta, laboriosam sint minus eius?
			a(href="#").descr-block__link подробнее

		
	.main-cont
		.section.section--blue.section-main-page
			.title Примеры наших работ
			.work-template.owl-carousel
				- for (var a = 0; a < 9; a++)
					a(href="#").work-template__el
						.work-template__img
							img(src="img/template-work.jpg", alt="")
						.work-template__text Интернет-магазин гаек и шурупов

	.main-cont
		.section.section--blue.section-main-page
			.title Давайте сделаем ваш проект 
			form(action="#").form
				.form-el
					.form-el__title Как лучше к Вам обращаться?
					.form-el__input
						input(type="text" placeholder="Введите ваше имя")
				.form-el
					.form-el__title Введите Ваш телефон
					.form-el__input
						input(type="phone" placeholder="Введите ваш телефон")
				.form-el.form-el--but
					a(href="#").but.but-mid.but-pink Заказать проект
	
	